html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;   
}
li{
    list-style: none;
}
/* p{
    color: #fff;
    font-size: 0.9ren;
    line-height: 1.6;
    font-weight: 400 bold;
} */
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url('images/headerimage.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);
    position: relative;
}

.header::before{
    content: '';
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background:linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
    opacity: -3;
    z-index: -1;
}
.navbar::before{
    content: '';
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background:linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
    opacity: -3;
    z-index: -1;
}
.nav-item a{
    color: #fff ;
    font-weight: bold;
}
.header-section{
    width: 100%;
    height: inherit;
    text-align: center;
    color: white;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%);
}
.center-div p{
    font-size: 1.3rem;
    color: #fff;
    padding: 10px 0 20px 0;
}
.header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}
.header-buttons a:hover{
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}
.extra-div{
    background: #fff;
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s;
}
    .extra-div h2,.servicediv h2{ 
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold ;
    line-height: 1.1;
}
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px );
}
 /************* above is the extra div headerdiv code  end here **************** */

  /************* below is the service offer div headerdiv code  start here **************** */
  .serviceoffer{
      background: #f7f7f7;
      padding: 50px 0;
      margin-bottom:50px;
  }
  .headings{
      margin-bottom: 50px;
  }
  .headings h1{
      font-size: 1.5rem;
      font-weight: 400;
      text-transform: uppercase;
  }
  .names h2{
      font-size: 0.9rem;
      columns: #2e2e2e;
      text-transform:uppercase;
      font-weight: bold;
  }
  i{
      color: #2fccd0;
  }
  .service-icons{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .progress{
      height: 0.6rem!important;
      margin-bottom: 25px!important;
      background: #606060;
  }
   /************* above is the service offer div headerdiv code  end here **************** */

   /************* project workd  code  start here **************** */

   .project-work{
       margin: 100px 0;
   }
   .project-work h1{
       font-size: 2rem;
       text-align: center;
   }
   /************* above is the project code  end here **************** */


   /************* Our pricing  code  start here **************** */
 
   .pricing{
       width: 100%;
       height: 100vh;
       padding: 50px;
       position: relative;
   }
   .pricing::before{
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background:linear-gradient(160deg,#3095c7 55%,#fff 0%);
    /* opacity: -3; */
    z-index: -1;
}
.money{
    font-size: 30px;
    line-height: 1;
    color: #505050;
}
.card{
    margin:40px 0;
    transition: 0.4s ease-in-out;
}
.card-header{
    font-size: 1.6rem;
    background: #fff!important;
    padding: 20px 0px!important;
    font-weight: bold;
}
.card-body{
    padding: 30px 0px!important;
}
.card-body li{
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}
.card-footer{
    background: white;
    padding: 30px 0px!important;
}
.card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}
.card:hover a{
    color: #fff;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover .card-header,.card:hover li.dollar,.card:hover li span.money{
    color: #50d1c0;
}
.card-second{
    transform: translateY(-20px);
    /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); */
}
  /*************  Our pricing code  end  here **************** */


  /************* customer feedbaxk  code start  here **************** */

.happyclients{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s ease-in-out;
}
.box:hover{
    background: #16c9f6;
}
.box:hover p{
    color: white;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important;
}
.carousel-indicators li {
   background-color:#16c9f6!important ;
}
.box a{
    position: relative;
}
.box a img {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    margin-top: 20px;
}
.box::after{
    content: '\f10d'; 
    font-family:FontAwesome;
    width: 40px;
    height: 30px;
    background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
    border-radius: 50%;
    position: absolute;
    color: white;
    position:absolute;
    top: 30%;
    left: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.box h1{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}
.box h2{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
}
/************* customer feedbaxk  code  end  here **************** */


/************* contact us form  code start  here **************** */
.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}
.contactus::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(160deg, #16c9f6 55% , #fff 0%);
    z-index: -1;
}
.form-button button{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background: transparent;
}
.form-button button:hover{
    color: #fff;
    background:#50d1c0;
    border:#50d1c0 ;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
/* form:hover .form-button button{
    color: #fff;
    background:#50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
} */
/* for edit the placeholder you have to write this way  */
::placeholder{
    font-size: 0.9rem;
}
/************* contact us form  code  end  here **************** */


/************* News letter  form  code  start  here **************** */
.newsletter{
    width: 100%;
    height: auto;
    margin: 80px auto;
}
.news-input{
    border-radius: 100px 0 0 100px;
    min-width: 150px;
    min-height: 40px;
}
.input-group-text{
    color: #fff;
    background: #5bc0de;
    border-radius: 0 100px 100px 0;
    min-width: 130px;
    min-height: 40px;
}
/************* News letter  form  code  end  here **************** */


/************* Footer section  code  start   here **************** */
.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0 ;
    background: #60d4e0;
    position: relative;
}
.footersection p{
    color: #fff;
}
.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}
.footersection h3{
    text-transform:uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
#myBtn{
    /* display: none; */
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff ;
    padding: 10px;
    border-radius: 10px;

}
/************* Footer section  code  end  here **************** */




/************* Media querries code  end  here **************** */

/* @media(max-width:7601px){
    .nav-item{
        text-align: center;
    }
    .pricing,.happyclients{
        height: auto;
        margin-top: 50px;
    }
    .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    }
    .contactus p{
        padding: 0 50px;
    }
    .footer-div:nth-child(2){
        text-align: left!important;
    }
    .footer-div{
        margin: 20px 0;
    }
}
 */






 
/* Pesponsive page using media query  */
@media(min-width:992px){
    .box{
        margin:50px 0;
    }
    .nav-item{
        text-align: center;
    }
    .pricing,.happyclients{
        height: auto;
        margin-top: 50px;
    }
    /* .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    } */
    .contactus p{
        padding: 0 50px;
    }
    /* .footer-div:nth-child(2){
        text-align: left!important;
    } */
    .footer-div{
        margin: 20px 0;
    }
}
@media(min-width:768px)and (max-width:991px){
    .nav-item{
        text-align: center;
    }
    .pricing,.happyclients{
        height: auto;
        margin-top: 50px;
    }
    /* .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    } */
    .contactus p{
        padding: 0 50px;
    }
    /* .footer-div:nth-child(2){
        text-align: left!important;
    } */
    /* .newsletter{
        margin-top: 100px;
    } */
    .footer-div{
        margin: 20px 0;
    }
    
}
@media(min-width:575px)and (max-width:767px){
    .nav-item{
        text-align: center;
    }
    .pricing,.happyclients{
        height: auto;
        margin-top: 50px;
    }
    /* .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    } */
    .contactus p{
        padding: 0 50px;
    }
    .footer-div:nth-child(2){
        text-align: left!important;
    }
    .footer-div{
        margin: 20px 0;
    }
}
@media(min-width:480px)and (max-width:574px){
    .nav-item{
        text-align: center;
    }
    .pricing,.happyclients{
        height: auto;
        margin-top: 50px;
    }
    /* .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    } */
    .contactus p{
        padding: 0 50px;
    }
    .footer-div:nth-child(2){
        text-align: left!important;
    }
    .footer-div{
        margin: 20px 0;
    }
}
@media(max-width:479px){
    .nav-item{
        text-align: center;
    }
    .pricing,.happyclients{
        height: auto;
        margin-top: 50px;
    }
    /* .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    } */
    .contactus p{
        padding: 0 50px;
    }
    .footer-div:nth-child(2){
        text-align: left!important;
    }
    .footer-div{
        margin: 20px 0;
    }
}






/* Set the media querries for iphone 4 , jiophone 2 , galaxy fold ,   */